p {
  font-family: 'Montserrat', sans-serif;;
  font-size: 20px;
  font-weight: bold;
  line-height: 3;

}

h1 {
  text-align: center;  
  text-decoration: line-through;
  font-family: 'Geostar', cursive;
}


/*font-family: 'Geostar', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/